{
    "extends": "eslint-config-airbnb",
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaFeatures": {
            "experimentalDecorators": true
        }
    },
    "env": {
        "browser": true,
        "node": true
    },
    "rules": {
        "react/prefer-stateless-function": 0,
        "react/no-find-dom-node": 0,
        "indent": [2, 4],
        "react/jsx-indent": [2, 4],
        "react/jsx-indent-props": [2, 4],
        "react/prop-types": 0,
        "padded-blocks": [2, {"blocks": "never", "classes": "always" }],
        "quotes": [2, "double"],
        "import/no-extraneous-dependencies": 0,
        "jsx-a11y/no-static-element-interactions": 0
    }
}
