.layer {
    width: 100%;
    height: 100%;
}

.container {
    position: absolute;
    left: 0;
    top: 0;
    box-shadow:3px 5px 10px 3px rgba(32,32,32,0.2);
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: #eee;
    font-family: Helvetica, Arial, sans-serif;
}

.item {
    background: linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    list-style-type: none;
    display: flex;
}

.item:hover,
.item--selected
 {
    background: linear-gradient(to bottom, #eeeeee 0%,#cccccc 100%);
}

.item.label,
.item.label:hover,
.item.label.item--selected {
    background: #e5e5e5;
}

.label,
.button,
.link,
.submenu {
    padding: 0.2rem;
    text-align: left;
    color: #000;
    font-size: 1rem;
    width: 100%;
}

.link:visited,
.link:active {
    color: #000;
}

h2.label {
    flex: 1;
    font-weight: bold;
    cursor: default;
}

button.button {
    background: none;
    border: none;
    cursor: pointer;
}

a.link {
    text-decoration: none;
}

nav.submenu {

}
