{
    "rules": {
        "import/extensions": "off",
        "import/no-extraneous-dependencies": "off",
        "import/no-unresolved": "off",
        "no-plusplus": 0,
        "no-restricted-syntax": 0
    }
}
